html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/*Loading styles*/
#loading {
    text-align: center;
    width: 25%;
    margin: 0 auto;
}
    #loading .message {
        font-size: 11px;
    }