@model WebUI.ViewModels.ConversationViewModel

<div class="text-center">
    <h1 class="display-4">Practical English Conversations</h1>
    <p>Listen and practice your English through short dialogues.</p>
</div>

<div class="mb-3">
    <div class="alert alert-primary" role="alert">
        <strong>Category:</strong> @Model.Category <br />
        <strong>Question:</strong> @Model.Question
    </div>
</div>

<div class="mb-3" style="white-space:pre-line;">
    <p>@Model.Content</p>
</div>